<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script>

    <script>
        var app = angular.module('myApp', ["ngResource","ngRoute","ngCookies"]);
        app.config(function ($httpProvider) {
          $httpProvider.defaults.headers.common = {};
          $httpProvider.defaults.headers.post = {};
          $httpProvider.defaults.headers.put = {};
          $httpProvider.defaults.headers.patch = {};
        });

        app.controller('mainCtrl',
          function($scope, $resource, $http, $httpParamSerializer, $cookies) {

            $scope.data = {
                grant_type:"password",
                username: "bar",
                password: "barsecret",
                client_id: "foo"
            };
            $scope.encoded = btoa("foo:foosecret");

            $scope.login = function() {
                var req = {
                    method: 'POST',
                    url: "http://localhost:9000/hascode/oauth/token",
                    headers: {
                        "Authorization": "Basic " + $scope.encoded,
                        "Content-type": "application/x-www-form-urlencoded; charset=utf-8"
                    },
                    data: $httpParamSerializer($scope.data)
                }
                $http(req).then(function(data){
                    $http.defaults.headers.common.Authorization =
                      'Bearer ' + data.data.access_token;

                    $http.defaults.headers.common.Accept =
                    "application/x-www-form-urlencoded; charset=utf-8"

                    $cookies.put("access_token", data.data.access_token);

                    var req = {
                        method: 'GET',
                        url: "http://localhost:9001/resource"

                    }

                     $http(req).then(function(data){
                        alert(data);
                        $scope.data = data;
                     }, function(err){
                        console.log(err);
                     });

                   /* $http.get("http://localhost:9001/resource")
                    .then(function(response) {
                        $scope.myWelcome = response.data;
                        $scope.data = data;
                    });*/
                    //window.location.href="http://localhost:9001/resource";
                });
           }
        });
    </script>
</head>
<body ng-app="myApp" ng-controller="mainCtrl">
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<a href="#" ng-click="login()">Login</a>

<div ng-controller="mainCtrl as resource" >
{{resource.data}}
</div>
</body>
</html>